body,html{
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
    overflow-x: hidden;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
#logopic{
    width:15%;
    border: 1% black solid;
    border-radius: 20%;
    place-items: center;
}
.phone,.email{
    display: none;
}

@media screen and (min-width:750px){
    .first{
        display: grid;
        grid-template-columns: 30% 35% 35%;
    }
    #logopic{
        position: relative;
        margin-top: 1%;
        margin-left: 1%;
        border: 1% black solid;
        border-radius: 20%;
        width:30%; 
    }
    .first img{
        width:15%;
        align-self: center;
    }
    .first p{
        text-align: justify;
        font-size: 130%;
        position: relative;
        bottom: 10%;
    }
    .phone, .email{
        display:grid;
        grid-template-columns: 20% 80%;
        padding-bottom: 1%;
    }
    .subphone p, .subemail p{
        position: relative;
        top:12%;
        word-wrap: break-word;
    }
    .phone img,.email img{
        width:60%;
    }
}


.second{
    display: flex;
    background-color: black;
}
.subsecond{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subsecond a{
    display: flex;
    text-decoration: none;
    font-size: 60%;
    color:white;
}
.second img{
    width:30%;
}
@media screen and (min-width:750px){
    .second p{
        font-size:100%;
        position: relative;
        bottom:25%;
    }

    .subsecond a{
        display: flex;
        text-decoration: none;
        font-size: 150%;
        color:white;
    }
}


.autotype{
    color:rgb(216, 216, 92);
}
h1{
    font-size: 100%;
    color:rgb(218, 240, 19);
}
.line{
    border-bottom: .2em solid rgb(218, 240, 19);
    padding-bottom: .3%;
}
.aboutus img{
    width:100%;
    padding-left: 5%;
    padding-top: 5%;
}
.aboutus{
    width:100vw;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 5%;
}
.aboutustext{
    font-size: 75%;
    display: block;
    padding-left: 5%;
}
@media screen and (min-width:750px){
    .aboutus{
        width:100vw;
        display: grid;
        grid-template-columns: 40% 60%;
        padding-top: 5%;
    }
    .aboutus img{
        width:100%;
        padding-left: 8%;
        padding-top: 8%;
    }
    .aboutustext{
        font-size: 155%;
        display: block;
        padding-left: 15%;
        position: relative;
        top:8%;
    }
}

.aboutus2{
    display: grid;
    grid-template-columns: 80% 20%;
}
.aboutus2 p{
    padding-left: 5%;
}
.aboutus2 img{
    width:70%;
}
.education{
    list-style-image: url('book.svg');
}
.aboutus2 button{
    width:90%;
    border:black dotted 1px;
    border-radius: 20%;
    background-color: rgb(218, 74, 74);
    color:white;
    margin-top: 5%;
}
.aboutus2 button:hover{
    border: yellow solid 2px;
    color:rgb(184, 184, 13);
    background-color: aquamarine;
}
.subaboutus2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media screen and (min-width:750px){
    .aboutus2 p,.aboutus2 ul{
        font-size: 20px;
        padding-left: 5%;
    }
    .aboutus2 img{
        height:auto;
    }
    .aboutus2 button{
        margin-top: 5%;
        margin-left:-10%;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: .5s;
        transition-delay: .2s;
    }
    #apu{
        display: none;
    }
}


.myachievements{
    display: flex;
    padding-top: 5%;
}
.myachievements img{
    width:50%;
}
.myachievements h1{
    color:rgb(218, 240, 19);
    font-size: 75%;
}
.myachievementstext{
    padding-left: 5%;
}
.myachievements li{
    font-size: 70%;
}
.myachievements button{
    width: 35%;
    background-color:  rgb(218, 74, 74);
    color:white;
    border:black dotted 1px;
    border-radius: 20%;
}
.myachievements button:hover{
    border: yellow solid 2px;
    color:rgb(184, 184, 13);
    background-color: aquamarine;
}
.achieve{
    list-style-image: url("check-square.svg");
}
@media screen and (min-width:750px){
    .myachievements h1{
        font-size: 150%;
    }
    .achieve{
        font-size: 200%;
    }
    .myachievements button{
        height:30%
    }
    #button{
        font-size: 150%;
    }
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formed{
    display: grid;
    grid-template-rows: 15% 15% 15% 40% 15%;
    align-items: stretch;
    justify-content: stretch;
}
.form h1{
    color:rgb(218, 240, 19);
    padding-top: 20%;
    padding-right: 5%;
    font-size: 90%;
}
.subform{
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10%;
}
@media screen and (min-width:750px){
    .form h1{
        font-size: 200%;
        padding-top: 5%;
    }
    .formed{
        display: grid;
        grid-template-rows: 20% 20% 20% 30% 10%;
        align-items: stretch;
        justify-content: stretch;
    }
    .subform{
        width:150%;
        height:125%;
    }
}
